.item-wrapper {
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .item-inner {
    border: 1px solid #fff;
    padding: 2rem;
  }
}
